body,html
  margin 0
  padding 0
ul,li
  list-style none
  margin 0
.w-mobile-head
  width 100%
  height: 60px
  background-color white
  position: fixed
.w-head-dao
  width 992px
  height 60px
  margin auto
.mobile-img
  margin-top 15px
  background url("../../images/moblie/logo.png") no-repeat
  width 93px
  height: 30px
.mobile-img1
  margin-top -30px
  margin-left 100px
  background url("../../images/moblie/subtitle.png") no-repeat
  width 120px
  height: 30px
.w-bg
  padding-top 60px
  width: 100%
  height: 530px;
  background url("../../images/moblie/blur_bg.jpg") center center no-repeat;
  background-size cover
.w-wrapper
  width: 992px;
  height: 530px;
  position: absolute;
  left: 50%;
  margin-left: -496px;
  overflow hidden
.w-mobile-ul
  position: relative
  height: 530px;
  width: 2976px;
  transition 1s
  margin auto
  left 0
//  ios页面--------------------------
.ios
  position: relative;
  height: 100%;
  float: left;
  width: 992px;
  margin-left: -40px;
.ios-img
  margin-left 60px
  width 300px
  height: 490px
  background url("../../images/moblie/iphone.png") no-repeat
  margin-top 41px
.ios-img1
  width: 512px
  height: 120px
  background url("../../images/moblie/iphone_title.png") no-repeat
  margin-top: -450px;
  margin-left: 400px;
.desc
  font-size: 14px
  color: #fff
  text-shadow: 0 1px 3px rgba(0,0,0,.35)
  position: absolute
  width: 395px
  left: 420px
  padding: 20px 100px 30px 0
  border-top: thin solid #fff
  margin-bottom: 0
.download
  position: absolute;
  top: 293px;
  left: 420px;
  padding: 20px;
  width: 456px;
  background: url("../../images/moblie/iphone_info_bg.png");
.ios-img2
  width: 110px;
  height: 110px;
  background url("../../images/moblie/iphone_code.png")
.ios-img3
  background: url('../../images/moblie/btn_appstore.png') no-repeat 0 -80px;
  width: 240px;
  height: 62px;
  position: absolute;
  left: 150px;
  top: 20px;
  //background-position: 0 0;
.ios-img3:hover
  position: absolute
  left: 150px
  top: 20px
  background-position: 0 0
.ios-img3 span
  left: 67px;
  top: 35px;
  color: #fff;
  position: absolute;
.info
  font-size: 14px;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.35);
  position: absolute;
  top: 86px;
  left: 150px;
  width: 250px;
.info p
  margin: 0 0 .8em;
  line-height: 1.35em;
//  安卓页面------------------------
.android
  position: relative;
  height: 100%;
  float: left;
  width: 992px;
.android-img
  margin-left 60px
  width 300px
  height: 490px
  background url("../../images/moblie/android.png") no-repeat
  margin-top 63px
.android-img1
  width: 512px
  height: 150px
  background url("../../images/moblie/android_title.png") no-repeat
  margin-top: -480px;
  margin-left: 400px;
.android-img3
  background: url('../../images/moblie/btn_appstore.png') no-repeat -510px -80px;
  position: absolute
  width: 220px;
  height: 62px;
  top: 330px;
  left: 420px;
.android-img3:hover
  background: url('../../images/moblie/btn_appstore.png') no-repeat -510px -160px;
  position: absolute
  width: 220px;
  height: 62px;
  top: 330px;
  left: 420px;
// ipad页面--------------------------
.ipad
  position: relative;
  height: 100%;
  float: left;
  width: 992px;
.ipad-img
  background url("../../images/moblie/ipad_title.png") no-repeat
  width: 512px
  height: 150px
  margin auto
.ipad-img1
  background: url('../../images/moblie/btn_appstore.png') no-repeat -510px -80px;
  width: 220px;
  height: 62px;
  float left
.ipad-img1:hover
  background: url('../../images/moblie/btn_appstore.png') no-repeat -510px -160px;
  width: 220px;
  height: 62px;
.ipad-img2
  background: url('../../images/moblie/btn_appstore.png') no-repeat -850px -80px;
  width: 51px;
  height: 62px;
  float left
.ipad-img2:hover
  background: url('../../images/moblie/btn_appstore.png') no-repeat -770px -160px;
  width: 51px;
  height: 62px;
.two-img
  width 275px
  height 62px
  margin-left 340px
.ipad-img3
  position: relative
  width: 790px
  height: 280px
  background url("../../images/moblie/ipad.png") no-repeat
  margin: auto;
  margin-top: 39px;
//  按钮--------------------------------------
.choice
  width: 990px;
  height: 210px;
  margin: 5px auto 0;
  position: relative;
.choice li {
  width: 330px;
  height: 40px;
  padding-top: 170px;
  float: left;
  text-align: center;
  font-size: 18px;
  color: #444;
}
.but1
  width: 120px;
  height: 120px;
  background: url('../../images/moblie/icon_bt_tabs.png')no-repeat;
  background-position: 105px 35px ;
.but1:hover
  background-position: 105px -175px;
.but2
  background: url('../../images/moblie/icon_bt_tabs.png')no-repeat;
  width: 120px;
  height: 120px;
  background-position: -125px 35px;
.but2:hover
  background-position: -125px -175px;
.but3
  background: url('../../images/moblie/icon_bt_tabs.png')no-repeat;
  width: 120px;
  height: 120px;
  background-position: -355px 35px
.but3:hover
  background-position: -355px -175px;
.but1:hover
  background-color #FAFAFA
.but2:hover
  background-color #FAFAFA
.but3:hover
  background-color #FAFAFA
