// 内容区分类样式
#new-category-guide
  width 1456px
  padding 12px 20px
  border-radius 2px
  background-color #FAFAFA
  margin 20px auto 0
  overflow hidden

#new-category-guide .unit
  float left
  width 263px
  margin-right 23px
  padding-right 10px
  border-right 1px solid #EDEDED
  overflow hidden

#new-category-guide .last
  border none
  margin 0
  padding 0
.guide_list
  color #444
  text-decoration none
#new-category-guide .unit .guide_list
  margin-right 24px
  line-height 24px
  height 24px
  display block
  float left

#new-category-guide .unit .guide_list:hover
  text-decoration underline
  color #9A0000

@media screen and (max-width: 1288px)
  #new-category-guide .unit
    width 167px
    margin-right 17px
  #new-category-guide .unit:last-child
    margin 0
  #new-category-guide
    width 992px
    box-sizing border-box

@media screen and (max-width: 1542px) and (min-width: 1289px)
  #new-category-guide .unit
    width 208px
    margin-right 20px
  #new-category-guide .unit:last-child
    margin 0
  #new-category-guide
    width 1244px
    box-sizing border-box
