html,body
  margin 0
  padding 0
ul li
  list-style-type   none
a
  text-decoration none
  color black
.a
  width 100%
  height 60px
  background-color #BB4C84
.a1
  width 100%
  height 120px
  background-color #614D44
.w-header
  width 100%
  height: 76px
  background-color #FAFAFA
  border-bottom 1px solid #E8E8E8
.w-header-logo
  width 1244px
  height: 74px
  margin auto
  text-align center
  line-height 90px
.w-span
  font-weight 900
  font-size 18px
  display block
  width: 404px
  height: 81px
  line-height 81px
.w-span a:hover
  color: #EA714C
.box
  width 100%
.box ul
  width 1264px
  margin auto
  overflow hidden
  padding-left 1px
  margin-top 15px
.box ul li
  width: 404px
  height: 331px
  float: left
  border-bottom 3px solid #F2F2F2
  margin: 0 15px 15px 0;
.w-div
  width: 404px
  height: 250px
.w-div img
  width 404px
  height 250px
.w-div-meng
  position: absolute
  width 404px
  height 250px
  background-color black
  opacity 0.4
.w-div-quan
  position: absolute
  width: 110px
  height: 110px
  border-radius 50%
  border 2px solid white
  line-height 110px
  text-align center
  color white
  font-size 20px
  font-weight 100
  word-break break-all
  margin-left 150px
  margin-top 65px
.w-a
  display none
.w-div:hover .w-a
  display block
.why-switch
  width 1244px
  height 38px
  margin auto
  text-align center
.w-switch-a
  width: 38px
  height: 38px
  background-color black
  display inline-block
  color white
  margin 30px 10px 0 10px
  line-height 38px
  text-align center
//.w-switch-a1
//  width: 38px
//  height: 38px
//  background-color black
//  display inline-block
//  color white
//  margin 30px 0
//  padding-right 5px
//.w-switch-a2
//  width: 38px
//  height: 38px
//  background-color black
//  display inline-block
//  color white
//  margin 30px 15px 15px 30px
.w-foot
  width 100%
  height 99px
  background-color #F7F7F7
  border-top 1px solid #DDDDDD
  margin-top 80px
.shu
  width 15px
  height 12px
  display inline-block
  border-right 1px solid #DDDDDD
  margin 0 15px 0 0
.w-foot-div
  width 1244px
  margin auto
  line-height 99px
.w-left-a
  float left
.w-left-a a
  color #999999
.w-left-a a:hover
  text-decoration underline
.w-right-a
  float right
.w-right-a a
  color #999999
.w-right-a a:hover
  text-decoration underline