html,
body {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}
.w-header {
  width: 100%;
  height: 76px;
  background-color: #fafafa;
  border-bottom: 1px solid #e8e8e8;
}
.w-header-logo {
  width: 1244px;
  height: 74px;
  margin: auto;
  text-align: center;
  line-height: 90px;
}
.w-span {
  font-weight: 900;
  font-size: 18px;
  display: block;
  width: 404px;
  height: 81px;
  line-height: 81px;
}
.w-span a:hover {
  color: #ea714c;
}
.box {
  width: 100%;
}
ul {
  width: 1264px;
  margin: auto;
  overflow: hidden;
  padding-left: 1px;
  margin-top: 15px;
}
li {
  width: 404px;
  height: 331px;
  float: left;
  border-bottom: 3px solid #f2f2f2;
  margin: 0 15px 15px 0;
}
.w-div {
  width: 404px;
  height: 250px;
}
.w-div img {
  width: 404px;
  height: 250px;
}
.w-div-meng {
  position: absolute;
  width: 404px;
  height: 250px;
  background-color: #000;
  opacity: 0.4;
}
.w-div-quan {
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 2px solid #fff;
  line-height: 110px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  word-break: break-all;
  margin-left: 150px;
  margin-top: 65px;
}
.w-a {
  display: none;
}
.w-div:hover .w-a {
  display: block;
}
.w-switch {
  width: 1244px;
  height: 38px;
  margin: auto;
  text-align: center;
}
.w-switch-a {
  width: 38px;
  height: 38px;
  background-color: #000;
  display: inline-block;
  color: #fff;
  margin: 30px 10px 0 10px;
  line-height: 38px;
  text-align: center;
}
.w-foot {
  width: 100%;
  height: 99px;
  background-color: #f7f7f7;
  border-top: 1px solid #ddd;
  margin-top: 80px;
}
.shu {
  width: 15px;
  height: 12px;
  display: inline-block;
  border-right: 1px solid #ddd;
  margin: 0 15px 0 0;
}
.w-foot-div {
  width: 1244px;
  margin: auto;
  line-height: 99px;
}
.w-left-a {
  float: left;
}
.w-left-a a {
  color: #999;
}
.w-left-a a:hover {
  text-decoration: underline;
}
.w-right-a {
  float: right;
}
.w-right-a a {
  color: #999;
}
.w-right-a a:hover {
  text-decoration: underline;
}
