.a1
  width: 100%;
  height: 120px;
  background url("../../images/activity/login_header_blurbg.jpg")
.aa
  width 100%
  height: 48px
.w-bao
  width 1496px
  height 120px
  margin auto
  overflow hidden
.w-left-div
  float left
  color width
.w-left-div h2
  margin-top 25px
  color white
.w-left-div span
  color white
  display inline-block
  margin-top 10px
//  右侧 扣扣 微博等登录
.w-right-div
  //border 1px solid black
  float right
  width 261px
  height 90px
  margin-top 20px
.weibo
  display inline-block
  width: 54px
  height: 54px
  border-radius 50%
  background-color #FBF6F3
.img
  height: 54px
  background url("../../images/activity/微博 (1).png") no-repeat 5px center
  background-size: 100%;width:80%
.qq
  display inline-block
  width: 54px
  height: 54px
  border-radius 50%
  background-color #FBF6F3
  margin-left 15px
.img1
  height: 54px
  background url("../../images/activity/qq.png") no-repeat 10px center
  background-size: 77%;width:80%
.dou
  display inline-block
  width: 54px
  height: 54px
  border-radius 50%
  background-color #FBF6F3
  margin-left 15px
.img2
  height: 54px
  background url("../../images/activity/dou.png") no-repeat 13px center
  background-size: 68%;width:80%
.ren
  display inline-block
  width: 54px
  height: 54px
  border-radius 50%
  background-color #FBF6F3
  margin-left 15px
.img3
  height: 54px
  background url("../../images/activity/人人网.png") no-repeat 8px center
  background-size: 75%;width:100%
.heng
  width 35px
  height 6px
  border-top 1px solid white
  display inline-block
.w-text
  color white
  margin 10px 15px
.qq:hover
  background-color white
.ren:hover
  background-color white
.dou:hover
  background-color white
.weibo:hover
  background-color white


