#yin
  width: 100%
  height: 70px
  background: rgba(0,0,0,.5)
  z-index: 10
  position: fixed
  top: 48px
  display none
.bao-show-Login
  width 1496px
  height:70px
  margin auto
  overflow hidden
@media screen and (max-width: 1288px)
  .bao-show-Login
    width 992px
@media screen and (max-width: 1542px) and (min-width: 1289px)
  .bao-show-Login
    width 1244px
.show-text
  float left
  color white
.show-text h3
  margin-top 15px
.show-text span
  display inline-block
  margin-top 5px
.show-img
  width: 320px
  height 50px
  float right
  color white
  line-height 75px
.show-weibo
  width: 40px
  height: 40px
  border-radius: 50%
  background-color white
  display inline-block
  vertical-align middle
  margin-top -8px
.weibo-img
  height 40px
  background url("../../../images/activity/微博.png") no-repeat center
  background-size: 100%;width:100%
.show-qq
  width: 40px
  height: 40px
  border-radius: 50%
  background-color white
  display inline-block
  vertical-align middle
  margin-top -8px
  margin-left 5px
.qq-img
  height 40px
  background url("../../../images/activity/QQ1.png") no-repeat center
  background-size: 100%;width:100%
.show-dou
  width: 40px
  height: 40px
  border-radius: 50%
  background-color white
  display inline-block
  vertical-align middle
  margin-top -8px
  margin-left 5px
.dou-img
  height 40px
  background url("../../../images/activity/豆瓣.png") no-repeat center
  background-size: 110%;width:100%
.show-ren
  width: 40px
  height: 40px
  border-radius: 50%
  background-color white
  display inline-block
  vertical-align middle
  margin-top -8px
  margin-left 5px
.ren-img
  height 41px
  background url("../../../images/activity/人人网1 (1).png") no-repeat center
  background-size: 102%;width:103%
.show-meng
  width: 40px
  height: 40px
  background-color black
  position: absolute
  margin-top -40px
  border-radius 50%
  opacity 0.08
.show-meng:hover
  display none
.show-weibo:hover .show-meng
  display none
.show-qq:hover .show-meng
  display none
.show-ren:hover .show-meng
  display none
.show-dou:hover .show-meng
  display none
