
.w-more
  width 310px
  height: 273px
  background-color white
  box-shadow 0 0 5px #DDDDDD
  position: absolute
  top 60px
  margin-left -140px
  display none
  z-index 10000
.w-more-head
  width: 270px
  height: 50px
  text-align center
  margin auto
  border-bottom 1px solid #DDDDDD
.w-more-head a:nth-child(3)
  text-align right
.w-more-head a
  text-decoration none
  display inline-block
  width 90px
  margin-top 20px
  text-align left
  font-weight 900
  font-size 16px
.w-more-head a:hover
  color #C15C4D
.w-more-left
  width 120px
  height 140px
  float left
.w-more-left a
  text-decoration none
  width 120px
  height: 28px
  display inline-block
  font-size 14px
  font-weight 400
.w-more-left a:hover
  color #C15C4D
.more-bao
  width: 270px
  height: 156px
  margin 10px auto
  border-bottom 1px solid #DDDDDD
.more-right
  width: 150px
  height: 140px
  float right
.more-right a
  width 120px
  height: 28px
  text-decoration none
  display inline-block
  font-size 14px
  font-weight 400
.more-right>a:hover
  color #C15C4D
.w-more-foot
  width 270px
  margin auto
  height 40px
.w-more-img
  float left
  border 1px solid #DDDDDD
  background: url('../../images/activity/menu_sprite.svg') no-repeat 7px -302px
  width: 27px
  height: 27px
.w-more-img:hover
  border 1px solid grey
  background: url('../../images/activity/menu_sprite.svg') no-repeat -43px -302px
  width: 27px
  height: 27px
.w-more-text
  float right
.w-more-text a
  font-size 15px
  color #9C9E99
  text-decoration none
  margin 0  5px
.w-more-text a:hover
  text-decoration underline
.w-more-text span
  color #9C9E99
.w-up
  width 0
  height: 0
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-bottom:10px solid white;
  position: absolute
  left 140px
  top: -10px
.nav-span
  display inline-block
  width 30px
  height: 50px
  cursor pointer
.nav-span:hover .w-more
  display block