.wxj_content
  width 100%
  height 2283px
  background #f7f7f7
  margin-top 20px

.wxj_content_contain
  width 1200px
  height 2283px
  margin 20px auto
  overflow hidden

.wxj_content_wrap
  float left
  width 280px
  height 380px
  background white
  margin-right 5px
  margin-top 5px
  overflow hidden
  position relative

.wxj_content_wrap:hover .wxj_content_star
  display block
.wxj_content_wrap:hover
  margin-top 3px
  box-shadow 1px 2px 10px 2px #fff
  transition all 0.1s

.wxj_content_img
  width 280px
  height 280px
  position relative
  img
    width 100%
    height 280px

.wxj_content_title
  width 280px
  height 49px
  background 0 0
  margin 0 auto
  box-shadow none
  font-size 14px
  border-radius 0
  text-align center

.wxj_content_price
  width 280px
  height 81px

.wxj_content_price_p
  font-size 20px
  text-align center
  margin-bottom 30px

.wxj_content_star
  width 30px
  height 30px
  position absolute
  z-index 20
  right 0
  top 0
  display none
  background #333
  background-opacity 0.5
  float left

.wxj_nav_all
  width 100%
  height 160px

.wxj_nav
  width 1180px
  height 79px
  margin auto
  margin-top 25px
  background white
  box-shadow 1px 2px 10px 1px #f7f7f7

.wxj_nav1
  width 1180px
  height 79px
  margin 2px auto
  background white
  box-shadow 1px 2px 10px 1px #f7f7f7

.wxj_nav>a
  float left
  text-decoration none
  line-height 79px
  margin-right 10px
  margin-left 15px
  cursor pointer

.wxj_nav>a>li
  list-style none
  color #222
  font-size 14px
  text-align center

.wxj_nav1>a
  float left
  text-decoration none
  line-height 79px
  margin-right 10px
  margin-left 15px
  cursor pointer

.wxj_nav1>a>li
  list-style none
  color #222
  font-size 14px
  text-align center
