.wxj_content
  width 100%
  height 2183px
  margin-top -17px
  background #f7f7f7

.wxj_content_contain
  width 1200px
  height 2083px
  margin 20px auto
  overflow hidden

.wxj_content_wrap
  float left
  width 280px
  height 380px
  background white
  margin-right 5px
  margin-left 10px
  margin-top 3px
  margin-bottom 3px
  overflow hidden
  position relative

.wxj_content_wrap:hover .wxj_content_star
  display block

//.wxj_content_wrap:hover
//  margin-top 0.1px
//  box-shadow 1px 1px 10px 2px #fff
//  transition all 0.5s

.wxj_content_img
  width 280px
  height 280px
  position relative
  img
    width 100%
    height 280px

.wxj_content_title
  width 280px
  height 49px
  background 0 0
  margin 0 auto
  margin-top 5px
  box-shadow none
  font-size 14px
  border-radius 0
  text-align center

.wxj_content_price
  width 280px
  height 81px

.wxj_content_price_p
  font-size 16px
  text-align center
  margin-bottom 30px

.wxj_content_star
  width 30px
  height 30px
  position absolute
  z-index 20
  right 0
  top 0
  display none
  background #333
  background-opacity 0.5
  float left

.wxj_nav_all
  width 100%
  height 160px
  margin-top 70px

.wxj_nav
  width 1180px
  height 79px
  margin auto
  margin-top 25px
  background white
  box-shadow 1px 2px 10px 1px #f7f7f7

.wxj_nav1
  width 1180px
  height 79px
  margin 2px auto
  background white
  box-shadow 1px 2px 10px 1px #f7f7f7

.wxj_nav>a
  float left
  text-decoration none
  line-height 79px
  margin-right 10px
  margin-left 15px
  cursor pointer

.wxj_nav>a>li
  list-style none
  color #222
  font-size 14px
  text-align center

.wxj_nav1>a
  float left
  text-decoration none
  line-height 79px
  margin-right 10px
  margin-left 15px
  cursor pointer

.wxj_nav1>a>li
  list-style none
  color #222
  font-size 14px
  text-align center

.wxj_content_page
  width 979px
  height 40px

.wxj_content_page>li
  float left
  background-color white

.wxj_content_bottom
  width 1180px
  height 48px
  margin auto

.wxj_content_page
  width 904px
  height 68px
  margin -100px auto
  clear both

.wxj_content_page>a>li
  float left
  line-height 40px
  border 1px solid #ddd
  list-style none
  font-size 16px
  color #222
  text-align center
  background #ffffff
  cursor pointer
  font-weight 400
  box-shadow 1px 2px 10px 1px #f7f7f7

  .wxj_content_page>a:hover
    background-color darkgrey

