.wxj_content_all
  width 100%
  height 100%
  background-color #f7f7f7

.wxj_nav_all
  width 100%
  height 160px
  margin-top 70px

.wxj_nav
  width 1180px
  height 112px
  margin auto
  margin-top 50px
  background white
  box-shadow 1px 2px 10px 1px #f7f7f7

.wxj_nav>a
  float left
  text-decoration none
  margin-right 10px
  margin-left 20px
  cursor pointer
  margin-top 25px

.wxj_nav>a:nth-child(1)
  margin-left 10px

.wxj_nav>a>li:hover
  color red

.wxj_nav>a>li
  list-style none
  color #222
  font-size 14px
  text-align cente

.wxj_Content_content
  width 1200px
  height 2435px
  margin auto

.wxj_Content_img
  width 575px
  height 219px
  background-color #ffffff
  margin-left 10px
  margin-right 10px
  position relative
  display inline-block

.wxj_Content_left
  width 575.5px
  height 140px
  float left
  vertical-align middle
  border-bottom 1px solid #dddddd

.wxj_Content_title
  width 535px
  height 28px
  font-weight 900
  margin-top 10px
  margin-left 20px
  font-size 18px

.wxj_Content_access
  width 273px
  height 28px
  color #444444
  font-weight 100
  margin-left 20px
  margin-top 20px

.wxj_Content_right
  width 140px
  height 140px
  float right

.wxj_Content_right>img
  width 140px
  height 140px
  position absolute
  top 0

.wxj_Content_bottom
  width 540px
  height 63px
  color #444
  font-size 14px
  font-weight 200
  position absolute
  top 142px
  left 17px
  overflow hidden
  word-break keep-all
  //white-space nowrap
  text-overflow ellipsis

.wxj_content_bottom
  width 1180px
  height 48px
  margin auto

.wxj_content_page
  width 904px
  height 68px
  margin -100px auto
  clear both

.wxj_content_page>a>li
  float left
  line-height 40px
  border 1px solid #ddd
  list-style none
  font-size 16px
  color #222
  text-align center
  background #ffffff
  cursor pointer
  font-weight 400
  box-shadow 1px 2px 10px 1px #f7f7f7

.wxj_content_page>a:hover
  background-color darkgrey

