
.wxj_designer
  width 100%
  height 100%
  background white
  margin-top 40px

.wxj_designer_contain
  width 1305px
  height 900px
  position relative
  margin 100px auto

.wxj_designer_contain_border
  width 570px
  height 320px
  position absolute
  left 50px

.wxj_Logos_line
  width 100px
  height 2px
  background-color #c0a75e
  margin 30px auto
  color white

.wxj_designer_contain_border1
  width 570px
  height 320px
  position absolute
  top 200px
  right 50px

.wxj_designer_contain_border2
  width 570px
  height 320px
  position absolute
  top 600px
  left 50px


.wxj_designer_contain_border_img
  width 280px
  height 320px

.wxj_designer_contain_border_left>img
  width 280px
  height 320px

.wxj_designer_contain_border_left1>img
  width 280px
  height 320px
  margin-right 50px

.wxj_designer_contain_border_left
  float left

.wxj_designer_contain_border_left1
  float right


.wxj_designer_contain_border_right
  width 290px
  height 400px
  float right
  position relative
  left 0

.wxj_designer_contain_border_right1
  width 290px
  height 400px
  float left
  top -300px
  left 80px
  position relative

.wxj_designer_shadow
  width 200px
  height 323px
  position absolute
  z-index 1
  background #f2f2f2
  left 280px
  opacity 0.5

.wxj_designer_shadow1
  width 200px
  height 323px
  position absolute
  z-index 1
  background #f2f2f2
  opacity 0.5
  left 40px

.wxj_designer_contain_header
  width 290px
  height 123px
  margin-top -25px
  position relative
  float right

.wxj_designer_contain_header1
  width 290px
  height 123px
  margin-top -25px
  position relative
  float left
  left -127px

.wxj_designer_label1
  width 76.7px
  height 64px
  font-size 64px
  line-height 64px
  color #f2f2f2
  font-family dpb
  font-weight 800
  position absolute
  right 10px
  top 5px
  z-index 2

.wxj_designer_label3
  width 76.7px
  height 64px
  font-size 64px
  line-height 64px
  color #f2f2f2
  font-family dpb
  font-weight 800
  position absolute
  left 10px
  top 5px
  z-index 2

.wxj_designer_label5
  width 76.7px
  height 64px
  font-size 64px
  line-height 64px
  color #f2f2f2
  font-family dpb
  font-weight 800
  position absolute
  right 10px
  top 5px
  z-index 2

.wxj_designer_label2
  width 290px
  height 19px
  position absolute
  display block
  font-size 14px
  color #c0a75e
  left 190px
  top 30px
  z-index 20

.wxj_designer_label4
  width 290px
  height 19px
  position absolute
  display block
  font-size 14px
  color #c0a75e
  left 10px
  top 30px
  z-index 20

.wxj_designer_label6
  width 290px
  height 19px
  position absolute
  display block
  font-size 14px
  color #c0a75e
  left 140px
  top 30px
  z-index 20

.wxj_designer_name
  display inline-block
  font-size 28px
  color #222
  padding-left 28px
  text-decoration none
  padding-bottom 20px
  margin-bottom 30px
  border-bottom 1px solid #222
  transition color .2s ease-in-out
  position absolute
  right 0
  z-index 20
  top 50px

.wxj_designer_name:hover
  color #c0a75e

.wxj_designer_name1
  text-decoration none
  display inline-block
  font-size 28px
  color #222
  padding-left 28px
  padding-bottom 20px
  margin-bottom 30px
  border-bottom 1px solid #222
  transition color .2s ease-in-out
  position absolute
  left 2px
  top 50px
  z-index 20

.wxj_designer_name1:hover
  color #c0a75e

.wxj_designer_label
  width 290px
  height 19px
  font-size 14px

.wxj_designer_contain_bottom
  width 290px
  height 200px
  display block
  padding-left 12px
  line-height 25px
  color #9d9d9d
  font-size 14px
  top 120px
  float right
  position absolute
  z-index 10

.wxj_designer_contain_bottom1
  width 290px
  height 200px
  display block
  padding-left 12px
  line-height 25px
  color #9d9d9d
  font-size 14px
  top 120px
  float right
  position absolute
  z-index 10
  left -143px
