html,body
  width 100%
  height 100%

.wxj_Top
  width 100%
  height 620px
  background url('../../images/miss/背景图.jpg')
  background-size 100% 100%

.wxj_Top1
  width 100%
  height 79px
  background
  margin-top -10px
  background-color #fff

.wxj_Top_nav
  width 100%
  height 78px

.wxj_Top_l1
  margin-left 200px
  width 180px
  height 30px

.wxj_Top_l2
  width 32px
  height 55px
  border-bottom 1px solid #fff

.wxj_Top_l3
  width 74px
  height 77px

.wxj_Top_l4
  width 58px
  height 78px

.wxj_Top1_ul
  margin-left 100px

.wxj_Top_ul>li
  float left
  list-style none
  margin-right 26px
  margin-top 25px

.wxj_Top1_ul>li
  float left
  list-style none
  margin-right 26px
  margin-top 25px

.wxj_Top_ul>li>a
  text-decoration none
  color #f2f2f2
  font-size 16px
  font-weight 400

.wxj_Top1_ul>li>a
  text-decoration none
  color #222
  font-size 16px
  font-weight 400

.wxj_Top_nav_right
  float right
  margin-right 400px
  margin-top 20px

.wxj_Top_nav_button1
  width 75px
  height 34px
  border 1px solid white
  margin-right 10px
  display inline-block
  font-size 16px
  text-align center
  line-height 34px
  font-weight 400
  color #fff
  border-radius 2px
  cursor pointer

.wxj_Top_nav_button3
  width 75px
  height 34px
  background #ededed
  margin-right 10px
  display inline-block
  font-size 16px
  text-align center
  line-height 34px
  font-weight 400
  color black
  border-radius 2px
  cursor pointer

.wxj_Top_nav_button3:hover
  color white
  background #ddd

.wxj_Top_nav_button2
  width 75px
  height 34px
  background #c0a75e
  color #fff
  display inline-block
  border 1px solid transparent
  font-size 16px
  text-align center
  line-height 34px
  font-weight 400
  border-radius 2px
  cursor pointer

.wxj_Top_nav_button2:hover
  background rgb(146,118,83)

.wxj_Top_nav_button1:hover
  color #ddd
  border 1px solid #ddd

.wxj_Top_pic>img
  width 430px
  height 190px
  margin-top 180px
  margin-left -450px

.wxj_Logos
  width 100%
  height 495px
  margin-top 50px
  background white

.wxj_Logos_text
  width 512px
  height 24px
  font-size 24px
  font-weight 100
  margin 50px auto
  letter-spacing 7px

.wxj_Logos_logo
  width 1200px
  height 327px
  margin auto

.wxj_Logos_logo1
  width 190px
  height 307px
  margin-right 100px
  margin-top 50px
  padding-left 10px
  display inline-block
  vertical-align top


.wxj_Logos_logo1_img
  width 150px
  height 150px
  margin auto

.wxj_Logos_title
  width 72px
  height 25px
  font-weight 200
  font-size 23px
  margin 16px auto
  margin-left 30px

.wxj_Logos_circles
  width 280px
  height 46px
  font-size 14px
  text-align center
  margin-top 25px
  margin-right 10px
  line-height 1.7
  color #999
  margin-left -50px

.wxj_Logos_shows
  width 100%
  height 692px
  background #f7f7f7
  padding-top 50px

.wxj_show_contain
  width 1180px
  height 592px
  margin 0 auto
  padding-top 30px

.wxj_Logos_text_another
  width 512px
  height 24px
  font-size 24px
  font-weight 100
  margin-left  730px
  letter-spacing 7px

.wxj_Logos_line
  font-size 20px
  color rgb(172,154,67)
  margin-left 850px
  margin-top 20px

.wxj_show_picture
  width 194px
  height 157px
  background white
  margin-bottom 1px
  margin-top 1px
  position relative
  margin-left 2.6px
  float left
  overflow hidden
  text-decoration none

.wxj_show_picture:hover
  transform scale(1.02,1.05)
  margin-left 1px
  margin-right 1px
  margin-bottom 1px
  transition box-shadow 0.2s ease-out,transform 0.2s ease-in-out
  background-color white
  box-shadow 2px 1px 20px 1px lightgrey

.wxj_show_picture>img
  width 70px
  height 70px
  position absolute
  top 15px
  left 60px

.wxj_show_text
  width 154px
  height 19px
  position absolute
  font-size 14px
  font-weight 200
  text-align center
  left 20px
  top 100px
  letter-spacing 3px

.wxj_Logos_find
  width 200px
  height 22px
  font-size 16px
  letter-spacing 4px
  color #999
  text-align center
  float left
  margin-top 40px
  margin-left 500px

.wxj_Logos_btn
  width 144px
  height 40pxline
  color #222
  border 1px solid black
  text-align center
  line-height 40px
  margin-left 530px
  margin-top 20px
  float left

.wxj_Logos_btn:hover
  background black
  color white

.wxj_Logos_gang1
  width 120px
  height 10px
  margin-left -420px
  color white
  border-bottom 1px solid black

.wxj_Logos_gang2
  width 120px
  height 10px
  margin-left 620px
  margin-top -70px
  color white
  border-bottom 1px solid black

.wxj_Logos_price
  width 100%
  height 555px
  background #f7f7f7
  margin auto
  margin-top -70px

.wxj_Logos_price_p
  width 300px
  height 50px
  margin-top -30px
  margin-left 100px
  font-size 23px

.wxj_Logos_price_img
  display block
  margin-left auto
  margin-right auto
  margin-bottom 22px

.wxj_Logos_price_contain
  width 1180px
  height 600px
  margin 50px auto

.wxj_Logos_price_pic
  width 373px
  height 332px
  background white
  margin-right 20px
  float left

.wxj_Logos_price_pic:hover
  transform scale(1.02,1.02)

.wxj_Logos_price_p1
  display block
  color #c0a75e
  font-size 20px
  text-align center

.wxj_Logos_price_p2
  color #999
  font-size 14px
  text-align center

.wxj_Logos_price_p3
  color: #999;
  text-align center

.wxj_Logos_price_p4
  color: #999;
  text-align center

.wxj_Logos_price_next
  width 1180px
  height 19px
  text-align center
  margin-top -250px
  font-size 16px
  margin-left 250px
  letter-spacing 4px
  color #999

.wxj_designer
  width 100%
  height 886px
  background white
  margin-top 50px

.wxj_designer_contain
  width 1180px
  height 880px

.wxj_designer_contain_border
  width 560px
  height 320px

.wxj_designer_contain_border_img
  width 280px
  height 320px

.wxj_designer_contain_header
  width 290px
  height 123px
  border 1px solid grey

.wxj_designer_contain_bottom
  width 290px
  height 200px

.wxj_designer_label
  width 290px
  height 19px
  font-size 14px

.wxj_designer_contain_border_left>img
  width 280px
  height 320px

.wxj_designer_contain_border_left
  float left

.wxj_designer_contain_border_right
  float right
  margin-top -300px
  margin-left 50px

.wxj_designer_contain_header
  width 290px
  height 123px
  display block

.wxj_designer_contain_bottom
  width 290px
  height 200px
  display block
  font-size 14px

.wxj_Project
  width 100%
  height 730px
  background #f7f7f7
  padding-top 40px

.wxj_Project_another
  width 512px
  height 24px
  font-size 24px
  font-weight 100
  margin-left  850px
  letter-spacing 7px

.wxj_Project_contain
  width 1180px
  height 540px
  margin 20px auto
  overflow hidden

.wxj_Project_pic
  width 380px
  height 540px
  background white
  float left
  margin-left 10px

.wxj_Project_pic:hover
  //transform scaleY(1.01)
  margin-top -3px
  transition all 0.1s

.wxj_Project_img>img
  width 380px
  height 380px
  text-decoration none

.wxj_Project_text1
  width 380px
  height 19px
  color #222
  font-size 16px
  font-weight 700
  text-decoration none
  letter-spacing 3px
  text-align center

.wxj_Project_text2
  width 380px
  height 19px
  margin-top 14px
  letter-spacing 3px
  font-size 14px
  color #999
  text-align center

.wxj_Project_text3
  width 380px
  height 19px
  margin-top 10px
  font-size 14px
  color #c0a75e
  text-align center

.wxj_Project_text4
  color #c0a75e
  margin-top 10px
  text-align center

.wxj_Project_dot
  width 1180px
  height 20px
  margin 0 auto

.wxj_Project_dot>div
  font-size 50px
  float left
  color lightgrey

.wxj_Need
  width 100%
  height 420px
  background white
  margin-top 50px

.wxj_Need_contain
  width 1280px
  height 130px
  margin 20px auto

.wxj_Need_text
  width 194px
  height 67px
  margin 1.5px
  background-color #f8f8f8
  float left

.wxj_Need_p
 text-align center

.wxj_Need_text:hover
  margin-left 1px
  margin-right 1px
  transform scale(1.02,1.02)
  box-shadow 1px 1px 10px 1px lightgrey
  flex-grow 1
  color #555
  transition box-shadow .2s ease-in-out,background-color .2s ease-in-out

.wxj_Select
  width 100%
  height 399px
  background #f8f8f8

.wxj_Select_contain
  width 1180px
  height 243px
  margin 20px auto

.wxj_Select_contain>a
  float left
  margin-right 40px
  margin-left 20px
  margin-top 20px
  margin-bottom 20px

.wxj_1
  width 114px
  height 36px

.wxj_2
  width 66.23px
  height 36px

.wxj_3
  width 85.6px
  height 36px

.wxj_4
  width 95.75px
  height 36px

.wxj_5
  width 72px
  height 36px

.wxj_6
  width 100.5px
  height 36px

.wxj_7
  width 102px
  height 36px

.wxj_8
  width 122.3px
  height 36px

.wxj_9
  width 113.75px
  height 36px

.wxj_10
  width 164.88px
  height 36px

.wxj_11
  width 132.47px
  height 36px

.wxj_12
  width 139.67px
  height 36px

.wxj_13
  width 47.52px
  height 36px

.wxj_14
  width 96.47px
  height 36px

.wxj_15
  width 61.91px
  height 36px

.wxj_16
  width 105.11px
  height 36px

.wxj_17
  width 145.44px
  height 36px

.wxj_18
  width 89.27px
  height 36px

.wxj_bottom
  width 100%
  height 457px
  background #333
  margin-bottom 1px

.wxj_bottom_contain
  width 1180px
  height 457px
  margin 5px auto

.wxj_bottom_p1
  width 280px
  height 19px
  font-size 14px
  color rgb(135,135,135)
  margin-bottom 10px
  margin-right 15px
  float left

.wxj_bottom_p2
  margin-top 20px
  margin-right 15px
  width 280px
  height 19px
  font-size 14px
  color rgb(213,213,213)
  margin-bottom 10px
  display block
  text-decoration none
  float left

.wxj_bottom_p2:hover
   color #333

.wxj_bottom_title
  width 1180px
  height 23px
  padding-top 30px
  color rgb(135,135,135)
  font-size 20px
  font-weight 500

.wxj_bottom_p
  width 1180px
  height 19px
  margin auto
  margin-top 300px
  //background #222
  color rgb(135,135,135)
  font-size 14px
  clear both

wxj_nav_all
  width 100%
  height 160px

.wxj_nav
  width 1180px
  height 79px
  margin auto
  margin-top 25px
  background white
  box-shadow 1px 2px 10px 1px #f7f7f7

.wxj_nav1
  width 1180px
  height 79px
  margin 2px auto
  background white
  box-shadow 1px 2px 10px 1px #f7f7f7

.wxj_nav>a
  float left
  text-decoration none
  line-height 79px
  margin-right 10px
  margin-left 15px

.wxj_nav>a>li
  list-style none
  color #222
  font-size 14px
  text-align center

.wxj_nav1>a
  float left
  text-decoration none
  line-height 79px
  margin-right 10px
  margin-left 15px

.wxj_nav1>a>li
  list-style none
  color #222
  font-size 14px
  text-align center

.wxj_background
  width 100%
  height 100%
  background #f7f7f7

.wxj_content_wrap
  float left
  width 280px
  height 410px
  border 1px solid black

.wxj_content_contain
  width 1200px
  height 2200px
  margin 20px auto

.wxj_content_img
  width 280px
  height 280px
  img
    width 100%
    height 280px
.wxj_title
  border: none;
  border-top: 1px solid rgba(34,36,38,.1);
  background: 0 0;
  margin: 0;
  padding: 1em;
  box-shadow: none;
  font-size: 1em;
  border-radius: 0;
  text-align center
.wxj_price
  text-align center

