html,body
  width 100%
  height 100%

.wxj_Top
  width 1705px
  height 620px
  background url('../../images/miss/背景图.jpg');
  background-size 100% 100%

.wxj_Top_nav
  width 1705px
  height 78px

.wxj_Top_l1
  margin-left 200px
  background url('https://muse.huaban.com/assets/0477e743072134634690da795644cd26.svg')
  width 180px;
  height 30px;

.wxj_Top_l2
  width 32px
  height 55px
  border-bottom 1px solid #fff

.wxj_Top_l3
  width 74px
  height 77px

.wxj_Top_l4
  width 58px
  height 78px

.wxj_Top_ul>li
  float left
  color #fff
  font-size 16px
  font-weight 400
  list-style none
  margin-right 26px
  margin-top 25px

.wxj_Top_nav_right
  float right
  margin-right 200px
  margin-top 20px

.wxj_Top_nav_button1
  width 75px
  height 34px
  border 1px solid white
  margin-right 10px
  display inline-block
  font-size 16px
  text-align center
  line-height 34px
  font-weight 400
  color #fff
  border-radius 2px
  cursor pointer

.wxj_Top_nav_button2
  width 75px
  height 34px
  background #c0a75e
  color #fff
  display inline-block
  border 1px solid transparent
  font-size 16px
  text-align center
  line-height 34px
  font-weight 400
  border-radius 2px
  cursor pointer

.wxj_Top_pic>img
  width 430px
  height 190px
  margin-top 180px
  margin-left -450px

.wxj_Logos
  width 1705px
  height 495px
  margin-top 50px
  background white

.wxj_Logos_text
  width 512px
  height 24px
  font-size 24px
  font-weight 100
  margin 50px auto
  letter-spacing 7px

.wxj_Logos_logo
  width 1200px
  height 327px
  margin auto

.wxj_Logos_logo1
  width 190px
  height 307px
  margin-right 100px
  margin-top 50px
  padding-left 10px
  //margin auto
  //float left
  display inline-block
  //width 8.33333333%
  vertical-align top


.wxj_Logos_logo1_img
  width 150px
  height 150px
  margin auto

.wxj_Logos_title
  width 72px
  height 25px
  font-weight 200
  font-size 23px
  margin 16px auto
  margin-left 30px

.wxj_Logos_circles
  width 280px
  height 46px
  font-size 14px
  text-align center
  margin-top 25px
  margin-right 10px
  line-height 1.7
  color #999
  margin-left -50px

.wxj_Logos_shows
  width 100%
  height 592px
  background #f7f7f7
  padding-top 50px

.wxj_show_contain
  width 1180px
  height 592px
  margin 0 auto
  padding-top 30px

.wxj_Logos_text_another
  width 512px
  height 24px
  font-size 24px
  font-weight 100
  margin-left  700px
  letter-spacing 7px

.wxj_Logos_line
  font-size 20px
  color rgb(172,154,67)
  margin-left 800px
  margin-top 20px

.wxj_show_picture
  width 194px
  height 157px
  background white
  margin-top 1.4px
  position relative
  margin-right 1.4px
  float left
  overflow hidden

.wxj_show_picture:hover
  transform scale(1.05,1.05)
  box-shadow 1.01px 1.5px 1px 5px #f7f7f7 inset

.wxj_show_picture>img
  width 70px
  height 70px
  position absolute
  top 15px
  left 60px

.wxj_show_text
  width 154px
  height 19px
  position absolute
  font-size 14px
  font-weight 200
  text-align center
  left 20px
  top 100px
  letter-spacing 3px

.wxj_Logos_find
  width 200px
  height 22px
  font-size 16px
  letter-spacing 4px
  color #999
  text-align center
  float left
  margin-top 40px
  margin-left 500px

.wxj_Logos_btn
  width 144px
  height 40px
  color #222
  border 1px solid black
  text-align center
  line-height 40px
  margin-left 530px
  margin-top 20px
  float left
.wxj_Logos_btn:hover
  background black
  color white

.wxj_Logos_gang1
  width 120px
  height 10px
  margin-left -420px
  color white
  border-bottom 1px solid black

.wxj_Logos_gang2
  width 120px
  height 10px
  margin-left 620px
  margin-top -70px
  color white
  border-bottom 1px solid black

.wxj_Logos_price
  width 100%
  hieght 605px
  background #f7f7f7
  margin 0 auto

.wxj_Logos_price_p
  width 300px
  height 50px
  margin-top -30px
  margin-left 100px
  font-size 23px

.wxj_Logos_price_img
  display block
  margin-left auto
  margin-right auto
  margin-bottom 22px

.wxj_Logos_price_contain
  width 1180px
  height 600px
  margin 50px auto

.wxj_Logos_price_pic
  width 353px
  height 332px
  background white
  margin-left 10px
  margin-right 20px
  float left

.wxj_Logos_price_pic:hover
  transform scale(1.02,1.02)

.wxj_Logos_price_p1
  display block
  color #c0a75e
  font-size 20px
  text-align center

.wxj_Logos_price_p2
  color #999
  font-size 14px
  text-align center

.wxj_Logos_price_p3
  color: #999;
  text-align center

.wxj_Logos_price_p4
  color: #999;
  text-align center

.wxj_Logos_price_next
  width 1180px
  height 19px
  text-align center
  margin-top -150px
  font-size 16px
  margin-left 250px
  letter-spacing 4px
  color #999