html,body
  width 100%
  height 100%

.wxj_Top
  width 100%
  height 620px
  background url('../../images/miss/背景图.jpg')
  background-size 100% 100%

.wxj_Top1
  width 1180px
  height 79px
  margin-top -10px
  background-color #fff
  margin auto
  overflow hidden

.wxj_Top_nav
  width 1180px
  height 78px
  margin 0 auto
  margin-top -20px


.wxj_Top1_ul
  width 1180px
  height 79px

.wxj_Top1_ul>li
  float left
  list-style none
  margin-right 26px
  margin-top 25px

.wxj_Top_ul>li
  float left
  list-style none
  margin-right 26px
  margin-top 25px

.wxj_Top_ul>li>a
  text-decoration none
  color #f2f2f2
  font-size 16px
  font-weight 400

.wxj_Top1_ul>li>a
  text-decoration none
  color #222
  font-size 16px
  font-weight 400
  margin-left -40px


.wxj_Top_nav_right1
  float left
  margin-right 41px
  margin-top 16px

.wxj_Top_l1
  width 180px
  height 30px

.wxj_Top_l2
  width 32px
  height 55px
  border-bottom 1px solid #fff

.wxj_Top_square
  width 0
  height 0
  position absolute
  border-top 4px solid #fff
  border-bottom 10px solid transparent
  border-left 3px solid transparent
  border-right 3px solid transparent
  left 138px
  top 10px

.wxj_Top_square1
  width 0
  height 0
  position absolute
  border-top 4px solid black
  border-bottom 10px solid transparent
  border-left 3px solid transparent
  border-right 3px solid transparent
  left 138px
  top 10px

.wxj_Top_l3
  width 74px
  height 77px
  position relative

.wxj_Top_l3:hover .wxj_Navhover_contain
  display block

.wxj_Top_l4
  width 58px
  height 78px


.wxj_Top_nav_right
  float right
  margin-right auto
  margin-top 20px


.wxj_Top_nav_button1
  width 75px
  height 34px
  border 1px solid white
  margin-right 10px
  display inline-block
  font-size 16px
  text-align center
  line-height 34px
  font-weight 400
  color #fff
  border-radius 2px
  cursor pointer

.wxj_Top_nav_button3
  width 75px
  height 34px
  background #ededed
  margin-right 10px
  display inline-block
  font-size 16px
  text-align center
  line-height 34px
  font-weight 400
  color black
  border-radius 2px
  cursor pointer

.wxj_Top_nav_button3:hover
  color white
  background #ddd

.wxj_Top_nav_button2
  width 75px
  height 34px
  background #c0a75e
  color #fff
  display inline-block
  border 1px solid transparent
  font-size 16px
  text-align center
  line-height 34px
  font-weight 400
  border-radius 2px
  cursor pointer

.wxj_Top_nav_button2:hover
  background rgb(146,118,83)

.wxj_Top_nav_button1:hover
  color #ddd
  border 1px solid #ddd

.wxj_Top_pic>img
  width 430px
  height 190px
  margin-top 180px
  margin-left -450px

.wxj_Logos
  width 100%
  height 495px
  margin-top 50px
  background white

.wxj_Logos_text
  width 512px
  height 24px
  font-size 24px
  font-weight 100
  margin 50px auto
  letter-spacing 7px

.wxj_Logos_logo
  width 1200px
  height 327px
  margin auto

.wxj_Logos_logo1
  width 190px
  height 307px
  margin-right 100px
  margin-top 50px
  padding-left 10px
  display inline-block
  vertical-align top


.wxj_Logos_logo1_img
  width 150px
  height 150px
  margin auto

.wxj_Logos_title
  width 72px
  height 25px
  font-weight 200
  font-size 23px
  margin 16px auto
  margin-left 30px

.wxj_Logos_circles
  width 280px
  height 46px
  font-size 14px
  text-align center
  margin-top 25px
  margin-right 10px
  line-height 1.7
  color #999
  margin-left -50px


.wxj_Navhover_contain_jiao
  width 8px
  height 8px
  position absolute
  background-color white
  transform rotate(45deg)
  border-top 1px solid #f7f7f7
  border-left 1px solid #f7f7f7
  box-shadow 1px -2px 10px 1px #f7f7f7
  top -6px
  left 115px






