.wxj_Need
  width 100%
  height 420px
  background white
  margin-top 50px

.wxj_Need_contain
  width 1280px
  height 130px
  margin 20px auto

.wxj_Need_text
  width 194px
  height 67px
  text-decoration none
  margin 1.5px
  background-color #f8f8f8
  float left

.wxj_Logos_line
  font-size 20px
  color rgb(172,154,67)
  margin-left 850px
  margin-top 20px

.wxj_Logos_text_another1
  background: url('https://muse.huaban.com/assets/1921757c61d97713fff81352b1295c1c.svg') no-repeat -92px -102px;
  width 322px
  height 23px
  font-size 24px
  font-weight 100
  color white
  margin-left auto
  margin-right auto
  letter-spacing 7px

.wxj_Need_p
  text-align center

.wxj_Need_text:hover
  margin-left 1px
  margin-right 1px
  transform scale(1.02,1.02)
  box-shadow 1px 1px 10px 1px lightgrey
  flex-grow 1
  color #555
  transition box-shadow .2s ease-in-out,background-color .2s ease-in-out

