.wxj_Logos_gang1
  margin-left -420px
  font-weight 100

.wxj_Logos_gang2
  margin-left 620px
  font-weight 100

.wxj_Logos_price
  width 100%
  height 555px
  background #f7f7f7
  margin auto
  margin-top -70px

.wxj_Logos_price_p
  background: url('https://muse.huaban.com/assets/1921757c61d97713fff81352b1295c1c.svg') no-repeat -167px -201px
  width 172px
  height 23px
  margin-top -30px
  margin auto
  font-size 23px

.wxj_Logos_price_img
  display block
  margin-left auto
  margin-right auto
  margin-bottom 22px

.wxj_Logos_price_contain
  width 1180px
  height 500px
  margin 50px auto

.wxj_Logos_price_pic
  width 373px
  height 332px
  background white
  margin-right 20px
  float left

.wxj_Logos_price_pic:hover
  transform scale(1.02,1.02)

.wxj_Logos_price_p1
  display block
  color #c0a75e
  font-size 20px
  text-align center

.wxj_Logos_price_p2
  color #999
  font-size 14px
  text-align center

.wxj_Logos_price_p3
  color: #999;
  text-align center

.wxj_Logos_price_p4
  color: #999;
  text-align center

.wxj_Logos_price_next
  width 1180px
  height 19px
  text-align center
  font-size 16px
  margin auto
  letter-spacing 4px
  float left
  margin-top 50px
  color #999

