.wxj_Production_wrap
  width 100%
  margin 100px auto
  height 100%
  background-color #f7f7f7

.wxj_Production_top
  width 1180px
  height 252px
  background-color #f7f7f7
  border-bottom  2px solid black
  margin auto

.wxj_Producion_left
  width 860px
  height 158px
  float left
  border-right 1px solid lightgray
  margin-top 50px

.wxj_Producion_left_left
  width 120px
  height 120px
  float left

.wxj_Producion_left_left>img
  width 120px
  height 120px
  border-radius 100px


.wxj_Producion_left_right
  width 729px
  height 138px
  float right
  margin right

.wxj_Producion_title
  width 729px
  height 25px
  font-size 20px
  color #444
  font-weight 800
  margin-top 10px

.wxj_Producion_span
  font-size 15px
  color #999
  margin-top 18px
  margin-bottom 10px
  display inline-block

.wxj_Producion_text
  width 672px
  height 44px
  margin-top 10px
  font-size 14px
  color #222222

.wxj_Producion_right
  width 300px
  height 158px
  float right
  margin-right 10px
  margin-top 59px

.wxj_Producion_text1
  width 269px
  height 18px
  font-size 14px
  margin-top 15px

.wxj_Producion_text2
  width 269px
  height 18px
  font-size 14px
  margin-top 15px

.wxj_Producion_text3
  width 269px
  height 18px
  font-size 14px
  margin-top 15px

.wxj_Producion_nav
  width 1180px
  height 46px
  margin 5px auto
  border-bottom 2px solid darkgrey

.wxj_Producion_nav_span
  display inline-block
  color #999
  font-size 16px
  cursor pointer

.wxj_Producion_nav_span:hover
  color #222222

.wxj_Producion_nav_right
  display inline-block
  margin-left 760px
  text-align right
  color #222222
  cursor pointer

.wxj_Producion_production
  width 1180px
  clear both
  margin auto
  overflow hidden

.wxj_content_border
  width 280px
  height 427px
  background-color #ffffff
  float left
  margin-right 10px
  margin-bottom 10px

//.wxj_content_border:hover
//  margin-top 1px
//  transition all 0.5s

.wxj_content_border>img
  width 280px
  height 280px

.wxj_content_name
  width 280px
  height 66px
  color #222
  font-size 14px
  font-weight 500
  text-align center
  line-height 66px

.wxj_content_prices
  width 280px
  height 81px
  line-height 81px
  text-align center
  color #222
  font-size 18px

.wxj_content_name-age
  width 280px
  height 69px
  font-weight 700
  color #222
  text-align center
  margin-top 10px
  display inline-block

.wxj_content_border-age
  width 280px
  display inline-block
  margin-right 15px
  margin-bottom 20px

