.wxj_Select
  width 100%
  height 399px
  background #f8f8f8
  margin-top -100px
  padding-top 75px

.wxj_Select_contain
  width 1180px
  height 243px
  margin 20px auto

.wxj_Logos_text_another
  background url('https://muse.huaban.com/assets/1921757c61d97713fff81352b1295c1c.svg') no-repeat -151px -501px
  width 203px
  height 23px
  color white
  margin-left auto
  margin-right auto
  letter-spacing 7px

.wxj_Logos_line
  width 100px
  height 2px
  background-color #c0a75e
  margin 30px auto
  color #f8f8f8

.wxj_Select_contain>a
  float left
  margin-right 40px
  margin-left 20px
  margin-top 20px
  margin-bottom 20px

.wxj_Select_contain>a:nth-child(14)
   margin-left 200px

.wxj_1
  width 114px
  height 36px

.wxj_2
  width 66.23px
  height 36px

.wxj_3
  width 85.6px
  height 36px

.wxj_4
  width 95.75px
  height 36px

.wxj_5
  width 72px
  height 36px

.wxj_6
  width 100.5px
  height 36px

.wxj_7
  width 102px
  height 36px

.wxj_8
  width 122.3px
  height 36px

.wxj_9
  width 113.75px
  height 36px

.wxj_10
  width 164.88px
  height 36px

.wxj_11
  width 132.47px
  height 36px

.wxj_12
  width 139.67px
  height 36px

.wxj_13
  width 47.52px
  height 36px

.wxj_14
  width 96.47px
  height 36px

.wxj_15
  width 61.91px
  height 36px

.wxj_16
  width 105.11px
  height 36px

.wxj_17
  width 145.44px
  height 36px

.wxj_18
  width 89.27px
  height 36px
