.w-overlay
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: rgba(0,0,0,.3)
  z-index: 99998
.w-frame
  width: 520px
  background: #fff
  position: fixed
  top: 50%
  left: 50%
  margin: -155px 0 0 -260px
  text-align: center
  padding: 30px 0 20px
  box-shadow: 0 2px 5px rgba(0,0,0,.3)
  border-radius: 4px
.w-logo
  width: 106px
  height: 36px
  margin auto
  display block
.w-zhuce
  margin-top 30px
.w-zhuce-text
  width 286px
  height: 22px
  font-size: 16px
  color: #999
  margin: 0 auto
  position: relative
  text-align: center
.w-xian1
  border-top: 1px solid #ededed
  display: block
  position: absolute
  width: 50px
  top: 8px
  left: 0
.w-xian2
  border-top: 1px solid #ededed
  display: block
  position: absolute
  width: 50px
  top: 8px
  right: 0
.zhuce-center
  width 336px
  margin auto
.w-zhuce-img
  width 336px
  margin 20px 0 20px 10px
.w-zhuce-img>a
  display inline-block
  margin-right 20px
.zhuce-weibo
  background: url('../../images/activity/login_icons_small.svg') no-repeat 0 0
  width: 64px
  height: 64px
.zhuce-weibo:hover
  background: url('../../images/activity/login_icons_small.svg') no-repeat 0 -80px
  width: 64px
  height: 64px
.zhuce-qq
  background: url('../../images/activity/login_icons_small.svg') no-repeat -80px 0
  width: 64px
  height: 64px
.zhuce-qq:hover
  background: url('../../images/activity/login_icons_small.svg') no-repeat -80px -80px
  width: 64px
  height: 64px
.zhuce-weixin
  background: url('../../images/activity/login_icons_small.svg') no-repeat -320px 0
  width: 64px
  height: 64px
.zhuce-weixin:hover
  background: url('../../images/activity/login_icons_small.svg') no-repeat -320px -80px
  width: 64px
  height: 64px
.zhuce-douban
  background: url('../../images/activity/login_icons_small.svg') no-repeat -160px 0
  width: 64px
  height: 64px
.zhuce-douban:hover
  background: url('../../images/activity/login_icons_small.svg') no-repeat -160px -80px
  width: 64px
  height: 64px
.zhuce-a
  font-size: 16px
  margin-bottom: 50px
  display: block
  text-decoration none
  color #9F7F69
.w-switch
  position: absolute
  right: 20px
  bottom: 20px
  font-size 14px
.w-frame a
  color #9F7F69
  text-decoration none
.w-frame a:hover
  text-decoration underline
  color brown
.w-with-line
  width 286px
  height: 22px
  font-size: 16px
  color: #999
  margin: 0 auto
  position: relative
  text-align: center
  margin-top 30px
