.w-overlay
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: rgba(0,0,0,.3)
  z-index: 10000
  display none
.w-frame
  width: 520px
  background: #fff
  position: fixed
  top: 50%
  left: 50%
  margin: -155px 0 0 -260px
  text-align: center
  padding: 30px 0 20px
  box-shadow: 0 2px 5px rgba(0,0,0,.3)
  border-radius: 4px
  z-index 999
.w-logo
  width: 106px
  height: 36px
  margin auto
  display block
.w-zhuce
  margin-top 30px
.w-zhuce-text
  width 286px
  height: 22px
  font-size: 16px
  color: #999
  margin: 0 auto
  position: relative
  text-align: center
.w-xian1
  border-top: 1px solid #ededed
  display: block
  position: absolute
  width: 50px
  top: 8px
  left: 0
.w-xian2
  border-top: 1px solid #ededed
  display: block
  position: absolute
  width: 50px
  top: 8px
  right: 0
.zhuce-center
  width 336px
  margin auto
.w-zhuce-img
  width 336px
  margin 20px 0 20px 10px
.w-zhuce-img>a
  display inline-block
  margin-right 20px
.zhuce-weibo
  background: url('../../images/activity/login_icons_small.svg') no-repeat 0 0
  width: 64px
  height: 64px
.zhuce-weibo:hover
  background: url('../../images/activity/login_icons_small.svg') no-repeat 0 -80px
  width: 64px
  height: 64px
.zhuce-qq
  background: url('../../images/activity/login_icons_small.svg') no-repeat -80px 0
  width: 64px
  height: 64px
.zhuce-qq:hover
  background: url('../../images/activity/login_icons_small.svg') no-repeat -80px -80px
  width: 64px
  height: 64px
.zhuce-weixin
  background: url('../../images/activity/login_icons_small.svg') no-repeat -320px 0
  width: 64px
  height: 64px
.zhuce-weixin:hover
  background: url('../../images/activity/login_icons_small.svg') no-repeat -320px -80px
  width: 64px
  height: 64px
.zhuce-douban
  background: url('../../images/activity/login_icons_small.svg') no-repeat -160px 0
  width: 64px
  height: 64px
.zhuce-douban:hover
  background: url('../../images/activity/login_icons_small.svg') no-repeat -160px -80px
  width: 64px
  height: 64px
.zhuce-a
  font-size: 16px
  margin-bottom: 50px
  display: block
  text-decoration none
  color #9F7F69
.w-switch
  position: absolute
  right 20px
  bottom: 5px
  font-size 14px
  color black
.w-zhuce a
  color #9F7F69
  text-decoration none
.w-zhuce a:hover
  text-decoration underline
  color brown
.w-with-line
  width 286px
  height: 22px
  font-size: 16px
  color: #999
  margin: 0 auto
  position: relative
  text-align: center
  margin-top 30px
  margin-bottom 10px
.w-shouji
  display: inline-block
  padding: 0 10px
  height: 36px
  font-size: 16px
  color: #777
  background: #FCFCFC
  border: 1px solid #CCC
  border-radius: 3px
  width: 260px
  outline: none
.slip
  width: 286px
  margin 10px auto
.w-green
  height: 32 px
  background-color #84C218
  border-radius 3px
  position: absolute
  z-index 22
.w-gray
  width 286px
  height: 32 px
  background-color #E8E8E8
  border-radius 3px
  position: relative
  z-index 20
.slip span
  position: absolute;
  top: 185px;
  left: 173px;
  font-size: 10px;
  z-index: 55;
  user-select: none
.w-border
  width 286px
  height: 32 px
  border-radius 3px
  position: relative
  margin-top -32px
.ww-a
  position: absolute
  top: 0
  width 45px
  height: 30px
  text-align center
  line-height 30px
  border 1px solid #CCCCCC
  color #ADADB7
  cursor pointer
  background-color whitesmoke
  user-select: none
  z-index 555
.w-btn
  display inline-block
  width 286px
  height 32px
  background-color #CF443D
  color white
  font-size 18px
  text-decoration none
  line-height 32px
  border-radius 3px
.w-btn:hover
  background-color #DB564F
.w-fanhui
  width 286px
  height 50px
  color #9F7F69
  text-decoration none
  font-size 14px
  display: block;
  text-align: left;
  margin auto
  line-height 50px
.w-fanhui:hover
  text-decoration underline
  color brown
#w-box
  z-index 999
  display none
.w-overlay
  display none
.guanbi
  font-size 35px
  color red
  position: absolute
  right 20px
  top: 10px
  z-index 999
  cursor pointer
