.advert {
  width: 100%;
  height: 180px;
  overflow: hidden;
  padding-left: 7px;
}
.mindP .advert div {
  width: 244px;
  height: 100%;
  float: left;
  margin-right: 6px;
  margin-left: 6px;
}
.mindP {
  width: 1544px;
  height: 250px;
  margin: 0 auto;
  position: relative;
}
.recommend-line {
  padding: 20px 0;
  text-align: center;
  color: #808080;
}
.line {
  width: 100%;
  border: 1px solid #ededed;
  background-color: #ededed;
  position: absolute;
  left: 0;
  top: 30px;
  z-index: -1;
}
.recommend-line a {
  background-color: #fff;
  padding: 0 10px;
}
.advert img {
  width: 244px;
  height: 178px;
  border-radius: 5px;
}
.img1 {
  -webkit-filter: blur(2px);
  width: 230px;
  height: 164px;
  opacity: 0.8;
  border-radius: 5px;
}
.img1:hover {
  opacity: 1;
}
.advert div:nth-child(5) {
  position: relative;
}
.advert div:nth-child(6) {
  position: relative;
}
.ab1 {
  text-decoration: none;
  color: #fff;
  position: absolute;
  left: 40%;
  top: 40%;
  z-index: 3;
  font-size: 18px;
}
.ab2 {
  text-decoration: none;
  color: #fff;
  position: absolute;
  left: 40%;
  top: 40%;
  z-index: 3;
  font-size: 18px;
}
.line2 {
  width: 100%;
  border: 1px solid #ededed;
  background-color: #ededed;
  position: absolute;
  left: 0;
  top: 273px;
  z-index: -1;
}
.recommend-line2 {
  padding: 20px 0;
  text-align: center;
  color: #808080;
}
.recommend-line2 a {
  background-color: #fff;
  padding: 0 10px;
}
