#bodyDiv
  width 1540px
  height 1500px
  margin 0 auto
  margin-top 45px
  overflow hidden
  padding-left 25px
.flowLgt
  float left
  width 300px
  height 300px
  margin-right 2px
  margin-bottom 2px
  position relative
  background-size cover
.LaiImg
  width 300px
  height 300px
  opacity 1
.LaiImg:hover
  opacity 0.8
.titlep
  padding 0
  margin 0
  font-size 20px
  color black
  font-weight bold
  text-decoration none
  margin-left 15px
.titlepdown
  padding 0
  margin 0
  font-size 20px
  color #222222
  font-weight bold
  text-decoration none
.bodyDiv-top
  width 298px
  height 148px
  background-color rgba(250,250,250,1)
  position relative
.bodyDiv-top-right
  width 298px
  height 148px
  background-color rgba(250,250,250,1)
  position relative
.bodyDiv-top:hover
  background-color rgba(250,250,250,0.7)

.bodyDiv-down
  width 298px
  height 148px
  margin-top 2px
  background-color rgba(250,250,250,1)
  position relative
.bodyDiv-down:hover
  background-color rgba(250,250,250,0.7)

.pantT
  margin 0 
  padding 0
  font-size 40px
  color #EBEBEB
  font-weight lighter
  width 90px
  border-bottom 1px solid #EBEBEB
  margin-left 15px
  margin-bottom 5px
.bodyDiv-top span
  margin-left 15px
  font-size 12px
  color gray

.as1
  font-size 14px
  text-decoration none
  margin-left 15px
  color #999999
  margin-top 5px
.as2
  margin-top 5px
  font-size 14px
  text-decoration none
  color #9E7E6B
.sanzImg
  width 30px
  height 30px
  position absolute
  left -22px
  top 62px
.sanImg
  width 30px
  height 30px
  position absolute
  left 294px
  top 60px
  z-index 1
.pantP
  margin 0
  padding 0
  font-size 40px
  color #EBEBEB
  font-weight lighter
  width 90px
  border-bottom 1px solid #EBEBEB
  margin-left 206px
  margin-bottom 5px
.titlepdown
  padding 0
  margin 0
  font-size 20px
  color #222222
  font-weight bold
  text-decoration none
  width 300px
  text-align right
  display block


.bodyDiv-down span
  margin-left 165px
  font-size 12px
  color gray
.bodyDiv-down span:nth-last-child(1)
  margin-left 15px
.rlDiv
  width 100%
  height 100%
  background-color #FAFAFA
  position relative
.danImg
  width 30px
  height 30px
  position absolute
  left -22px
  top 58px
.zlDiv
  width 100%
  height 100%
  background-color #FAFAFA
  position relative
.danrImg
  width 30px
  height 30px
  position absolute
  left 294px
  top 218px
  z-index 3
.pantP2
  margin 0
  padding 0
  font-size 40px
  color #EBEBEB
  font-weight lighter
  width 90px
  border-bottom 1px solid #EBEBEB
  margin-left 206px
  margin-bottom 5px
  padding-top 156px
.titlepdown2
  padding 0
  margin 0
  font-size 20px
  color #222222
  font-weight bold
  text-decoration none
  width 300px
  display block
  text-align right
.bodyDiv-toper
  width 298px
  height 298px
  background-color rgba(250,250,250,1)
  position relative
.bodyDiv-toper span
  margin-left 15px
  font-size 12px
  color gray
.bodyDiv
  width 1540px
  height 1500px
  margin 0 auto
  overflow hidden
  padding-left 25px
.MengBan
  position absolute
  width 300px
  height 300px
  left 0
  top 0
  background-color rgba(250,250,250,0.91)
  z-index 2

.smallV
  width 120px
  height 120px
  border 3px solid white
  border-radius 60px
  margin-left 30%
  margin-top 30%

