.GFoot
  width 1540px
  height 280px
  margin 0 auto
  overflow hidden
  margin-top 15px
  margin-bottom 45px
.groupUl
  list-style-type none
  display inline-block
  float left
  width 300px
.FootLine
  width 1540px
  height 22px
  overflow hidden
  border-bottom 2px solid gainsboro
  padding-bottom 5px
.FootText
  padding-top 20px
.FootLine div:nth-child(1)
  float left
  font-size 18px
.FootLine div:nth-child(2)
  float right
.FootLine a
  text-decoration none
  color goldenrod
  font-size 16px
.groupUl a
  text-decoration none
  color black
.groupUl li
  display block
  margin-bottom 10px
.groupUl a:hover
  color #c90000
  text-decoration underline